<div class="jumbotron">
  <div class="pic">
    <img src= <%= image_url('corey-headshot.jpg') %> height="400", width="400">
  </div>
  <div>
    <p id="blurb"><%= Admin.first.about %></p>
  </div>
</div>