<a name="about" id="about"></a>
<%= render 'about' %>
<% if $corey.projects.first %>
  <%= render 'projects/index' %>
<% end %>
<% if $corey.posts.first %>
  <%= render 'posts/index' %>
<% end %>
<%= render 'shared/resume' %>