<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav nav-justified">
      <% if logged_in? %>
        <li role="presentation"><%= link_to "Log out", logout_path %></li>
        <li role="presentation"><%= link_to "Portfolio", portfolio_path %></li>
      <% else %>
        <li role="presentation"><%= link_to "Admin?", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>