<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Corey Grad</a>
    </div>
      <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="#about">About</a></li>
        <li role="presentation"><a href="#resume">Resume</a></li>
        <li role="presentation"><a href="#projects">Projects</a></li>
        <li role="presentation"><a href="#blog">Blog</a></li>
        <li role="presentation"><a href="#social">Social</a></li>
      </ul>
  </div>
</nav>