<nav class="navbar navbar-default posts">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation"><a href="https://www.linkedin.com/in/coreygrad">LinkedIn</a></li>
    <li role="presentation"><a href="https://github.com/cgrad01">Github</a></li>
  </ul>
</nav>