<a name="projects" id="projects"></a><h2 id="projects-header">PROJECTS</h2>
<div id="projects-container" class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src=<%= image_url('juke-thumbnail.png') %> >
      <div>
        <h3 class="caption">Juke</h3>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="thumbnail">
      <img src=<%= image_url('corey-headshot.jpg') %> >
      <div>
        <h3 class="caption">Personal Page</h3>
      </div>
    </div>
  </div>
</div>

<div id="projects-container" class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <img src=<%= image_url('stack-overflow.png') %>>
      <div>
        <h3 class="caption">Stack Overflow Clone</h3>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="thumbnail">
      <img src=<%= image_url('stack-overflow.png') %>>
      <div>
        <h3 class="caption">Stack Overflow Clone</h3>
      </div>
    </div>
  </div>
</div>