<div id="projects-container">
  <a name="projects" id="projects"></a><h2 id="projects-header">PROJECTS</h2>
  <div id="projects-row" class="row">
    <div id="project-square" class="col-xs-6">
      <div id="top-row" class="thumbnail">
        <img id="project-image" src=<%= image_url('juke-thumbnail-crop.png') %> >
        <div>
          <h3 class="caption">Juke</h3>
        </div>
      </div>
    </div>

    <div id="project-square" class="col-xs-6">
      <div id="top-row" class="thumbnail">
        <img id="project-image" src=<%= image_url('corey-headshot-crop.png') %> >
        <div>
          <h3 class="caption">Personal Page</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="projects-row" class="row">
    <div id="project-square" class="col-xs-6">
      <div class="thumbnail">
        <img id="project-image" src=<%= image_url('stack-overflow.png') %>>
        <div>
          <h3 class="caption">Stack Overflow Clone</h3>
        </div>
      </div>
    </div>

    <div id="project-square" class="col-xs-6">
      <div class="thumbnail">
        <img id="project-image" src=<%= image_url('stack-overflow.png') %>>
        <div>
          <h3 class="caption">Stack Overflow Clone</h3>
        </div>
      </div>
    </div>
  </div>
</div>