<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=<%= image_url('juke-thumbnail.png') %> >
      <div class="caption">
        <h3>Juke</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=<%= image_url('corey-headshot.jpg') %> >
      <div class="caption">
        <h3>Personal Page</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=<%= image_url('stack-overflow.png') %>>
      <div class="caption">
        <h3>Stack Overflow Clone</h3>
      </div>
    </div>
  </div>
<p></p>
</div>