<div class="row posts">
  <div class="col-md-6">
    <h3>Cultural Posts</h3>
    <ul>
      <% Post.filter_posts("Cultural").each do |post| %>
      <li><%= post.title %> - <%= post.date %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Technical Posts</h3>
    <ul>
      <% Post.filter_posts("Technical").each do |post| %>
      <li><a href="/post/#{id}"><%= post.title %> - <%= post.date %></li>
      <% end %>
    </ul>
  </div>
</div>