<div id="post" class="container login">
  <h2><%= @post.title %></h2>
  <h4><%= @post.date %></h4>
  <body><%= @post.content %></body>
  <div id="post-button" class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>