@import master

.img-container
  position: relative
  vertical-align: middle
  border-bottom: solid


#headshot
  padding-top: 5%
  max-width: 400px
  filter: grayscale(100%)

.about
  font-size: $med-text
  text-align: center
  padding-left: 1%
  padding-right: 1%
  position: inline
  vertical-align: middle
  width: 80%
  margin-left: 10%