@import master

#blog-header
  font-size: $med-text
  width: 20%
  margin-left: 40%
  text-align: center
  padding-top: 1%
  padding-bottom: 1%
  margin-top: 0px
  margin-bottom: 0px
  background-color: $cyan
  color: $dark-blue

#blog-container
  background-color: $cyan

#posts-container
  width: 80%
  margin-left: 10%

#post-type
  color: $dark-blue
  font-size: $med-text
  text-align: center

#post-link
  text-align: center

#post-link a
  color: $dark-blue
  font-size: $small-text
  text-align: center

#post-link a:hover
  color: white
  text-decoration: none

#post-content
  color: $grey
  font-size: $xsmall-text
  text-align: center

#post-content a
  color: $dark-blue

#post-content a:hover
  color: white
  text-decoration: none