@import master

#coreynav
  margin-bottom: 50px
  border-top: solid $grey
  border-bottom: solid $grey
  font-size: 25px
  background-color: $cyan
  padding: 30px

#myname
  font-size: 42px
  color: $grey

#link
  color: $grey

body
  position: relative
  margin: 0px