@import master

#coreynav
  margin-bottom: 0px
  border-top: solid $cyan
  border-bottom: solid $cyan
  font-size: $small-text
  background-color: white

.active #link
  color: $cyan
  background-color: $dark-blue

#myname
  font-size: $large-text
  color: $dark-blue

#link
  color: $dark-blue
  max-height: 100%
  border-radius: 0px

#link:hover
  color: $cyan
  background-color: $dark-blue

body
  position: relative
  margin: 0px