#resume-embed
  margin-left: 10%

#resume-header
  font-size: 48px
  font-weight: bold
  width: 20%
  margin-left: 40%
  text-align: center

#resume-btn
  font-size: 36px
  width: 20%
  margin-left: 40%
  text-align: center
  margin-bottom: 20px